Import Python modules.

In [1]:
import json
import pandas as pd
import numpy as np

1. Read regular and postseason basic game stats JSON file from an input year into pandas objects.
2. Concatinate regular and postseason games DataFrame into a larger DataFrame (N-games x 13), with game results and filtered game information.

In [2]:
cfb_year = input('Input college football year?')

json_regular_season = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-basicGameStatsCFB-JSON-regular.json'
json_post_season = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-basicGameStatsCFB-JSON-postseason.json'

regular_season = pd.read_json(json_regular_season)
post_season = pd.read_json(json_post_season)

# New DataFrame, but select 13 columns, not 33 columns
regular_season_games = pd.DataFrame(regular_season, columns=['id', 'season', 'season_type', 'week', 'completed', 'home_team', 'home_id', 'home_division', 'home_conference', 'home_points', 'away_team', 'away_id', 'away_division', 'away_conference', 'away_points'])
postseason_games = pd.DataFrame(post_season, columns=['id', 'season', 'season_type', 'week', 'completed', 'home_team', 'home_id', 'home_division', 'home_conference', 'home_points', 'away_team', 'away_id', 'away_division', 'away_conference', 'away_points'])

# Concatenate regular_season_games DataFrame and postseason_games DataFrame
cfb_season_games = pd.concat([regular_season_games, postseason_games], axis=0)

Input college football year? 2022

In [3]:
cfb_season_games.tail()

,id,season,season_type,week,completed,home_team,home_id,home_division,home_conference,home_points,away_team,away_id,away_division,away_conference,away_points
37,401442011,2022,postseason,1,True,Illinois,356,fbs,Big Ten,10,Mississippi State,344,fbs,SEC,19
38,401442012,2022,postseason,1,True,Purdue,2509,fbs,Big Ten,7,LSU,99,fbs,SEC,63
39,401442013,2022,postseason,1,True,USC,30,fbs,Pac-12,45,Tulane,2655,fbs,American Athletic,46
40,401442014,2022,postseason,1,True,Utah,254,fbs,Pac-12,21,Penn State,213,fbs,Big Ten,35
41,401442010,2022,postseason,1,True,Georgia,61,fbs,SEC,65,TCU,2628,fbs,Big 12,7

1. Read detailed postseason game stats JSON file into a viewable pandas object.
2. Split detailed postseason panda object into an [1] "id" and [2] "teams" pandas objects.
3. Split "teams" pandas for each game into four (4) lists...
   * [1] team_0, [2] team_0.location, [3] team_1, and [4] team_1.location

In [4]:
# load detailed postseason game stats JSON as a pandas object
json_detailed_postseason = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-postseason-1-detailedGamesCFB-JSON.json'
detailed_postseason = pd.read_json(json_detailed_postseason)

# split detailed_postseason pandas object to list id_only (N-games x 1)
id_only = detailed_postseason.drop(['teams'], axis=1)
rows = id_only.shape[0]
print(str(rows) + ' games')

# split detailed_postseason pandas object to list teams (N-games x 1)
teams_only = detailed_postseason.drop(['id'], axis=1)

# split detailed_postseason 'DataFrame' into a [1] teams[j][0]['teams_key'] list
# & teams[j][1]['teams_key'] list (N-teams x 1)
def teams_column(all_games, team_number, teams_key):
    teams_list = []
    for game in range(all_games):
        teams_list.append((teams_only['teams'][game][team_number][teams_key]))
    return teams_list

team0_list = teams_column(rows, 0, 'school')
team1_list = teams_column(rows, 1, 'school')
team0_location_list = teams_column(rows, 0, 'homeAway')
team1_location_list = teams_column(rows, 1, 'homeAway')
team0_points_list = teams_column(rows, 0, 'points')
team1_points_list = teams_column(rows, 1, 'points')
team0_school_id_list = teams_column(rows, 0, 'schoolId')
team1_school_id_list = teams_column(rows, 1, 'schoolId')

# Combine the 4 list-Series into a DataFrame (N-teams x 4)
teams_detail = pd.DataFrame({'team0': team0_list, 'team0.id': team0_school_id_list, 'team0.location': team0_location_list, 'team0.points': team0_points_list, 'team1' : team1_list,  'team1.id': team1_school_id_list, 'team1.location' : team1_location_list, 'team1.points': team1_points_list})

# Join games id with team_0 and team_1 information
id_teams_locations_df = id_only.join(teams_detail, on=None)
id_teams_locations_df

42 games

,id,team0,team0.id,team0.location,team0.points,team1,team1.id,team1.location,team1.points
0,401442010,TCU,2628,away,7,Georgia,61,home,65
1,401442011,Mississippi State,344,away,19,Illinois,356,home,10
2,401442012,LSU,99,away,63,Purdue,2509,home,7
3,401442013,Tulane,2655,away,46,USC,30,home,45
4,401442014,Utah,254,home,21,Penn State,213,away,35
5,401442018,Alabama,333,away,45,Kansas State,2306,home,20
6,401442016,TCU,2628,away,51,Michigan,130,home,45
7,401442015,Ohio State,194,away,41,Georgia,61,home,42
8,401443543,Ohio,195,away,30,Wyoming,2751,home,27
9,401442035,Maryland,120,away,16,NC State,152,home,12
10,401442036,Notre Dame,87,away,45,South Carolina,2579,home,38
11,401443542,Pittsburgh,221,away,37,UCLA,26,home,35
12,401442019,Tennessee,2633,away,31,Clemson,228,home,14
13,401442032,Syracuse,183,away,20,Minnesota,135,home,28
14,401442033,Oklahoma,201,away,32,Florida State,52,home,35
15,401442034,Texas,251,away,20,Washington,264,home,27
16,401442031,Texas Tech,2641,away,42,Ole Miss,145,home,25
17,401442030,Kansas,2305,away,53,Arkansas,8,home,55
18,401442008,UCF,2116,away,13,Duke,150,home,30
19,401470891,Oregon,2483,away,28,North Carolina,153,home,27
20,401442005,Wisconsin,275,away,24,Oklahoma State,197,home,17
21,401441998,Georgia Southern,290,away,21,Buffalo,2084,home,23
22,401442037,New Mexico State,166,away,24,Bowling Green,189,home,19
23,401442009,Middle Tennessee,2393,away,25,San Diego State,21,home,23
24,401442007,Wake Forest,154,away,27,Missouri,142,home,17
25,401442039,Western Kentucky,98,away,44,South Alabama,6,home,23
26,401442006,Liberty,2335,away,19,Toledo,2649,home,21
27,401442004,Eastern Michigan,2199,away,41,San José State,23,home,27
28,401442003,Marshall,276,away,28,Connecticut,41,home,14
29,401442001,North Texas,249,away,32,Boise State,68,home,35
30,401441997,SMU,2567,away,23,BYU,252,home,24
31,401442041,Rice,242,away,24,Southern Mississippi,2572,home,38
32,401442038,Washington State,265,away,6,Fresno State,278,home,29
33,401441999,Florida,57,away,3,Oregon State,204,home,30
34,401441993,Miami (OH),193,away,20,UAB,5,home,24
35,401442017,Iowa,2294,away,21,Kentucky,96,home,0
36,401442002,Coastal Carolina,324,away,29,East Carolina,151,home,53
37,401442000,Memphis,235,away,38,Utah State,328,home,10
38,401442042,Louisiana,309,away,16,Houston,248,home,23
39,401442040,Baylor,239,away,15,Air Force,2005,home,30
40,401441995,Cincinnati,2132,away,7,Louisville,97,home,24
41,401441994,UT San Antonio,2636,away,12,Troy,2653,home,18

In [5]:
# practicing reading JSON file with nested dictionaries
# read detailed category stats from game #1, team0 [game0 until last row][team0 or team1] (read values from a "stats" dictionary)
# detailed stats list for each team will vary

# loop through every game as a new row; join rows with game id (id_detailed_game_stats_df);
#   join "id_team_locations_df" with "id_detailed_game_stats_df" 

team_detailed_stats_columns_df = pd.DataFrame(columns=['team0.firstDowns', 'team0.fourthDownEff', 'team0.yardsPerPass'
                                                , 'team0.fumblesLost', 'team0.fumblesRecovered', 'team0.interceptions'
                                                , 'team0.interceptionTDs', 'team0.interceptionYards', 'team0.kickReturns'
                                                , 'team0.kickReturnTDs', 'team0.kickReturnYards', 'team0.netPassingYards'
                                                , 'team0.completionAttempts', 'team0.passesIntercepted', 'team0.thirdDownEff'
                                                , 'team0.passingTDs', 'team0.totalPenaltiesYards', 'team0.possessionTime'
                                                , 'team0.puntReturns', 'team0.puntReturnTDs', 'team0.puntReturnYards'
                                                , 'team0.rushingAttempts', 'team0.rushingTDs', 'team0.rushingYards'
                                                , 'team0.sacks', 'team0.tacklesForLoss', 'team0.kickingPoints'
                                                , 'team0.yardsPerRushAttempt', 'team0.turnovers', 'team0.totalYards'
                                                , 'team0.passesDeflected', 'team0.defensiveTDs', 'team0.qbHurries'
                                                , 'team1.firstDowns', 'team1.fourthDownEff', 'team1.yardsPerPass'
                                                , 'team1.fumblesLost', 'team1.fumblesRecovered', 'team1.interceptions'
                                                , 'team1.interceptionTDs', 'team1.interceptionYards', 'team1.kickReturns'
                                                , 'team1.kickReturnTDs', 'team1.kickReturnYards', 'team1.netPassingYards'
                                                , 'team1.completionAttempts', 'team1.passesIntercepted', 'team1.thirdDownEff'
                                                , 'team1.passingTDs', 'team1.totalPenaltiesYards', 'team1.possessionTime'
                                                , 'team1.puntReturns', 'team1.puntReturnTDs', 'team1.puntReturnYards'
                                                , 'team1.rushingAttempts', 'team1.rushingTDs', 'team1.rushingYards'
                                                , 'team1.sacks', 'team1.tacklesForLoss', 'team1.kickingPoints'
                                                , 'team1.yardsPerRushAttempt', 'team1.turnovers', 'team1.totalYards'
                                                , 'team1.passesDeflected', 'team1.defensiveTDs', 'team1.qbHurries'])


accumulator = []
for game in range(rows):
    for team in range(2):
        team_detailed_stats = teams_only['teams'][game][team]['stats']
        
        # convert team_detailed_stats into a DataFrame
        team_detailed_stats_df = pd.DataFrame(team_detailed_stats)
        
        # convert team_detailed_stats_df into a numpy nested array
        team_detailed_stats_np = team_detailed_stats_df.to_numpy()
        
        # transpose nested array
        team_detailed_stats_np = np.transpose(team_detailed_stats_np)
        
        # create team name (either 'team0.' or 'team1.')
        team_int = 'team' + str(team) + '.'
        
        # convert back to DataFrame with header as stats columns
        team_detailed_stats_df2 = pd.DataFrame(team_detailed_stats_np)
        new_header = team_detailed_stats_df2.iloc[0]
        team_detailed_stats_df2 = team_detailed_stats_df2[1:]
        team_detailed_stats_df2.columns = new_header
        
        # insert team0. or team1. as a prefix in the header row
        team_detailed_stats_df2 = team_detailed_stats_df2.add_prefix(team_int)
        accumulator.append(team_detailed_stats_df2)
        
big_df = pd.concat(accumulator)
big_df

,team0.rushingTDs,team0.passingTDs,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.kickingPoints,team0.fumblesRecovered,team0.totalFumbles,team0.possessionTime,team0.interceptions,...,team0.tackles,team0.sacks,team0.qbHurries,team0.passesDeflected,team1.puntReturnYards,team1.puntReturnTDs,team1.puntReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
1,1,0,135,0,6,1,0,1,23:01,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,NaN,NaN,NaN,7,0,1,25:42,2,...,7,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10,0,2,NaN,NaN,NaN
1,4,4,22,0,1,10,0,NaN,30:15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,119,0,5,1,2,3,27:31,0,...,1,1,0,2,NaN,NaN,NaN,39,0,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10,0,3,NaN,NaN,NaN
1,0,1,4,0,1,4,0,5,26:44,2,...,44,6,1,3,NaN,NaN,NaN,0,0,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN

group big_df every two rows

In [6]:
group_big_df = big_df.groupby(np.arange(len(big_df))//2).sum()
group_big_df

,team0.rushingTDs,team0.passingTDs,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.kickingPoints,team0.fumblesRecovered,team0.totalFumbles,team0.possessionTime,team0.interceptions,...,team0.tackles,team0.sacks,team0.qbHurries,team0.passesDeflected,team1.puntReturnYards,team1.puntReturnTDs,team1.puntReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
0,1,0,135,0,6,1,0,1,23:01,2,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,7,0,1,25:42,2,...,7,7,0,0,10,0,2,0,0,0
2,4,4,22,0,1,10,0,0,30:15,1,...,0,0,0,0,35,0,2,122,1,3
3,4,2,146,0,6,8,0,1,20:11,0,...,0,0,0,1,1,0,1,0,0,1
4,1,2,15,0,1,3,0,0,35:13,2,...,3,3,0,0,4,0,2,0,0,0
5,1,5,31,0,2,9,0,0,24:26,0,...,2,2,0,2,1,0,1,2,0,2
6,3,2,75,0,4,9,1,1,27:35,2,...,4,4,0,2,16,0,2,70,2,2
7,1,4,15,0,1,11,0,1,32:36,0,...,0,2,0,1,22,0,1,15,0,1
8,1,2,95,0,4,10,0,2,30:43,0,...,4,4,0,1,0,0,0,15,0,1
9,0,1,32,0,3,10,0,1,35:32,2,...,0,0,0,2,8,0,2,2,0,2
10,3,3,18,0,1,9,1,0,36:19,3,...,2,2,0,1,12,0,2,0,0,1
11,2,1,17,0,1,17,1,2,37:06,1,...,1,3,0,4,0,0,0,13,0,4
12,1,3,41,0,2,7,0,0,23:37,0,...,4,4,0,2,0,0,0,0,0,2
13,2,0,71,0,4,8,0,1,34:11,1,...,2,2,0,0,0,0,0,0,0,0
14,3,1,0,0,0,6,0,2,29:57,0,...,1,2,0,1,0,0,0,0,0,1
15,1,1,40,0,2,8,0,0,24:14,0,...,0,0,0,1,0,0,1,0,0,1
16,3,1,86,1,3,12,2,0,32:46,1,...,0,0,0,0,0,0,0,11,0,2
17,2,5,7,0,1,7,1,0,30:53,2,...,0,0,0,0,3,0,1,0,0,1
18,2,0,41,0,3,1,0,3,25:33,1,...,0,0,0,0,0,0,0,0,0,0
19,2,2,106,0,4,4,0,0,27:11,1,...,2,2,0,5,16,0,1,0,0,0
20,2,1,127,0,4,6,0,1,37:48,1,...,1,1,0,2,0,0,0,21,0,2
21,0,2,18,0,1,7,1,1,21:51,1,...,0,2,0,0,0,0,1,0,0,0
22,1,2,38,0,3,6,1,1,38:10,1,...,1,1,0,1,0,0,0,0,0,1
23,0,2,0,0,0,13,1,1,26:44,1,...,2,2,0,3,3,0,1,14,0,3
24,1,3,0,0,0,3,1,0,26:49,1,...,0,0,0,0,0,0,1,0,0,0
25,0,5,43,0,2,14,0,0,28:44,1,...,13,4,0,1,0,0,0,47,0,2
26,1,2,69,0,4,1,1,0,19:56,0,...,0,0,0,0,28,0,3,0,0,0
27,3,2,38,0,3,7,0,2,32:07,1,...,2,2,0,3,0,0,0,32,0,3
28,1,2,55,0,3,4,1,0,27:20,1,...,0,0,0,0,3,0,3,35,2,3
29,2,2,138,0,6,6,0,0,27:33,2,...,0,0,0,0,0,0,0,0,0,0
30,1,2,0,0,0,5,0,1,28:34,1,...,1,1,0,1,0,0,0,6,0,1
31,0,3,29,0,2,6,3,0,32:38,1,...,0,0,0,0,12,0,3,0,0,0
32,1,0,67,0,4,0,0,0,26:53,1,...,0,0,0,0,0,0,0,0,0,0
33,0,0,91,0,4,3,0,2,30:25,0,...,2,2,0,0,13,0,2,0,0,0
34,1,2,0,0,0,2,2,0,26:33,0,...,2,2,0,1,-8,0,2,45,0,1
35,0,1,0,0,0,3,0,0,25:03,0,...,4,4,0,2,25,0,3,66,2,2
36,3,1,105,0,7,3,0,0,27:40,0,...,0,0,0,0,0,0,1,0,0,0
37,2,3,26,0,1,8,0,1,36:06,0,...,4,4,0,3,1,0,1,35,0,3
38,0,1,35,0,4,10,0,0,27:44,0,...,0,0,0,0,25,0,1,0,0,0
39,0,2,99,0,6,1,0,0,19:56,0,...,0,0,0,0,0,0,0,0,0,0
40,0,1,119,0,5,1,2,3,27:31,0,...,1,1,0,2,10,0,3,39,0,2
41,0,1,4,0,1,4,0,5,26:44,2,...,44,6,1,3,0,0,1,0,0,2