Import Python modules.

In [1]:
import json
import pandas as pd
import numpy as np

1. Read regular and postseason basic game stats JSON file from an input year into pandas objects.
2. Create a DataFrame into a larger DataFrame (N-games x 13), with postseason game results and filtered game information.

In [2]:
cfb_year = input('Input college football year?')

# regular season will be ignore for now
# json_regular_season = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-basicGameStatsCFB-JSON-regular.json'
json_post_season = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-basicGameStatsCFB-JSON-postseason.json'

# regular_season = pd.read_json(json_regular_season)
post_season = pd.read_json(json_post_season)

# New DataFrame, but select 13 columns, not 33 columns
# regular_season_games = pd.DataFrame(regular_season, columns=['id', 'season', 'season_type', 'week', 'completed',
                                        # , 'home_team', 'home_id', 'home_division', 'home_conference', 'home_points',
                                        # , 'away_team', 'away_id', 'away_division', 'away_conference', 'away_points'])
postseason_games = pd.DataFrame(post_season, columns=['id', 'season', 'season_type', 'week', 'completed',
                                'home_team', 'home_id', 'home_division', 'home_conference', 'home_points', 'home_line_scores',
                                'away_team', 'away_id', 'away_division', 'away_conference', 'away_points', 'away_line_scores'])

# Concatenate regular_season_games DataFrame and postseason_games DataFrame
# cfb_season_games = pd.concat([regular_season_games, postseason_games], axis=0)

Input college football year? 2022

In [3]:
postseason_games

,id,season,season_type,week,completed,home_team,home_id,home_division,home_conference,home_points,home_line_scores,away_team,away_id,away_division,away_conference,away_points,away_line_scores
0,401441993,2022,postseason,1,True,UAB,5,fbs,Conference USA,24,"[10, 0, 0, 14]",Miami (OH),193,fbs,Mid-American,20,"[0, 6, 7, 7]"
1,401441994,2022,postseason,1,True,Troy,2653,fbs,Sun Belt,18,"[0, 7, 8, 3]",UT San Antonio,2636,fbs,Conference USA,12,"[2, 10, 0, 0]"
2,401441995,2022,postseason,1,True,Louisville,97,fbs,ACC,24,"[7, 14, 3, 0]",Cincinnati,2132,fbs,American Athletic,7,"[0, 7, 0, 0]"
3,401441999,2022,postseason,1,True,Oregon State,204,fbs,Pac-12,30,"[7, 3, 13, 7]",Florida,57,fbs,SEC,3,"[0, 0, 0, 3]"
4,401442038,2022,postseason,1,True,Fresno State,278,fbs,Mountain West,29,"[7, 9, 6, 7]",Washington State,265,fbs,Pac-12,6,"[0, 0, 6, 0]"
5,401442041,2022,postseason,1,True,Southern Mississippi,2572,fbs,Sun Belt,38,"[7, 10, 7, 14]",Rice,242,fbs,Conference USA,24,"[0, 3, 21, 0]"
6,401441997,2022,postseason,1,True,BYU,252,fbs,FBS Independents,24,"[7, 3, 14, 0]",SMU,2567,fbs,American Athletic,23,"[10, 0, 0, 13]"
7,401442001,2022,postseason,1,True,Boise State,68,fbs,Mountain West,35,"[0, 6, 22, 7]",North Texas,249,fbs,Conference USA,32,"[3, 7, 14, 8]"
8,401442003,2022,postseason,1,True,Connecticut,41,fbs,FBS Independents,14,"[0, 0, 14, 0]",Marshall,276,fbs,Sun Belt,28,"[14, 7, 7, 0]"
9,401442004,2022,postseason,1,True,San José State,23,fbs,Mountain West,27,"[13, 0, 7, 7]",Eastern Michigan,2199,fbs,Mid-American,41,"[9, 21, 11, 0]"
10,401442006,2022,postseason,1,True,Toledo,2649,fbs,Mid-American,21,"[0, 3, 10, 8]",Liberty,2335,fbs,FBS Independents,19,"[7, 0, 0, 12]"
11,401442039,2022,postseason,1,True,South Alabama,6,fbs,Sun Belt,23,"[0, 3, 14, 6]",Western Kentucky,98,fbs,Conference USA,44,"[14, 17, 10, 3]"
12,401442040,2022,postseason,1,True,Air Force,2005,fbs,Mountain West,30,"[9, 0, 14, 7]",Baylor,239,fbs,Big 12,15,"[0, 7, 0, 8]"
13,401442042,2022,postseason,1,True,Houston,248,fbs,American Athletic,23,"[0, 6, 7, 10]",Louisiana,309,fbs,Sun Belt,16,"[7, 9, 0, 0]"
14,401442007,2022,postseason,1,True,Missouri,142,fbs,SEC,17,"[3, 7, 7, 0]",Wake Forest,154,fbs,ACC,27,"[7, 7, 6, 7]"
15,401442009,2022,postseason,1,True,San Diego State,21,fbs,Mountain West,23,"[14, 0, 3, 6]",Middle Tennessee,2393,fbs,Conference USA,25,"[0, 13, 3, 9]"
16,401442037,2022,postseason,1,True,Bowling Green,189,fbs,Mid-American,19,"[0, 0, 7, 12]",New Mexico State,166,fbs,FBS Independents,24,"[7, 7, 10, 0]"
17,401441998,2022,postseason,1,True,Buffalo,2084,fbs,Mid-American,23,"[0, 14, 6, 3]",Georgia Southern,290,fbs,Sun Belt,21,"[0, 6, 8, 7]"
18,401442000,2022,postseason,1,True,Utah State,328,fbs,Mountain West,10,"[0, 3, 0, 7]",Memphis,235,fbs,American Athletic,38,"[3, 21, 0, 14]"
19,401442002,2022,postseason,1,True,East Carolina,151,fbs,American Athletic,53,"[10, 14, 14, 15]",Coastal Carolina,324,fbs,Sun Belt,29,"[0, 14, 7, 8]"
20,401442005,2022,postseason,1,True,Oklahoma State,197,fbs,Big 12,17,"[7, 0, 0, 10]",Wisconsin,275,fbs,Big Ten,24,"[3, 14, 7, 0]"
21,401442008,2022,postseason,1,True,Duke,150,fbs,ACC,30,"[7, 13, 3, 7]",UCF,2116,fbs,American Athletic,13,"[7, 0, 0, 6]"
22,401442030,2022,postseason,1,True,Arkansas,8,fbs,SEC,55,"[24, 7, 7, 0, 7, 8, 2]",Kansas,2305,fbs,Big 12,53,"[7, 6, 7, 18, 7, 8, 0]"
23,401470891,2022,postseason,1,True,North Carolina,153,fbs,ACC,27,"[7, 14, 0, 6]",Oregon,2483,fbs,Pac-12,28,"[7, 7, 0, 14]"
24,401442031,2022,postseason,1,True,Ole Miss,145,fbs,SEC,25,"[7, 0, 6, 12]",Texas Tech,2641,fbs,Big 12,42,"[10, 16, 0, 16]"
25,401442032,2022,postseason,1,True,Minnesota,135,fbs,Big Ten,28,"[0, 14, 14, 0]",Syracuse,183,fbs,ACC,20,"[0, 7, 6, 7]"
26,401442033,2022,postseason,1,True,Florida State,52,fbs,ACC,35,"[3, 8, 7, 17]",Oklahoma,201,fbs,Big 12,32,"[7, 10, 0, 15]"
27,401442034,2022,postseason,1,True,Washington,264,fbs,Pac-12,27,"[10, 3, 7, 7]",Texas,251,fbs,Big 12,20,"[3, 0, 7, 10]"
28,401442035,2022,postseason,1,True,NC State,152,fbs,ACC,12,"[3, 6, 0, 3]",Maryland,120,fbs,Big Ten,16,"[3, 7, 3, 3]"
29,401443542,2022,postseason,1,True,UCLA,26,fbs,Pac-12,35,"[7, 14, 7, 7]",Pittsburgh,221,fbs,ACC,37,"[6, 8, 7, 16]"
30,401442036,2022,postseason,1,True,South Carolina,2579,fbs,SEC,38,"[21, 3, 7, 7]",Notre Dame,87,fbs,FBS Independents,45,"[7, 10, 14, 14]"
31,401443543,2022,postseason,1,True,Wyoming,2751,fbs,Mountain West,27,"[14, 3, 0, 7, 3]",Ohio,195,fbs,Mid-American,30,"[8, 3, 7, 6, 6]"
32,401442019,2022,postseason,1,True,Clemson,228,fbs,ACC,14,"[0, 3, 3, 8]",Tennessee,2633,fbs,SEC,31,"[7, 7, 7, 10]"
33,401442017,2022,postseason,1,True,Kentucky,96,fbs,SEC,0,"[0, 0, 0, 0]",Iowa,2294,fbs,Big Ten,21,"[0, 21, 0, 0]"
34,401442018,2022,postseason,1,True,Kansas State,2306,fbs,Big 12,20,"[10, 0, 3, 7]",Alabama,333,fbs,SEC,45,"[7, 14, 21, 3]"
35,401442016,2022,postseason,1,True,Michigan,130,fbs,Big Ten,45,"[0, 6, 24, 15]",TCU,2628,fbs,Big 12,51,"[14, 7, 20, 10]"
36,401442015,2022,postseason,1,True,Georgia,61,fbs,SEC,42,"[7, 17, 0, 18]",Ohio State,194,fbs,Big Ten,41,"[7, 21, 10, 3]"
37,401442011,2022,postseason,1,True,Illinois,356,fbs,Big Ten,10,"[0, 7, 3, 0]",Mississippi State,344,fbs,SEC,19,"[0, 3, 0, 16]"
38,401442012,2022,postseason,1,True,Purdue,2509,fbs,Big Ten,7,"[0, 0, 0, 7]",LSU,99,fbs,SEC,63,"[14, 21, 14, 14]"
39,401442013,2022,postseason,1,True,USC,30,fbs,Pac-12,45,"[7, 21, 7, 10]",Tulane,2655,fbs,American Athletic,46,"[0, 14, 16, 16]"
40,401442014,2022,postseason,1,True,Utah,254,fbs,Pac-12,21,"[0, 14, 0, 7]",Penn State,213,fbs,Big Ten,35,"[7, 7, 7, 14]"
41,401442010,2022,postseason,1,True,Georgia,61,fbs,SEC,65,"[17, 21, 14, 13]",TCU,2628,fbs,Big 12,7,"[7, 0, 0, 0]"

1. Read detailed postseason game stats JSON file into a viewable pandas object.
2. Split detailed postseason panda object into an [1] "id" and [2] "teams" pandas objects.
3. Split "teams" pandas for each game into four (4) lists...
   * [1] team_0, [2] team_0.location, [3] team_1, and [4] team_1.location

In [4]:
# load detailed postseason game stats JSON as a pandas object
json_detailed_postseason = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-postseason-1-detailedGamesCFB-JSON.json'
detailed_postseason = pd.read_json(json_detailed_postseason)

# split detailed_postseason pandas object to list id_only (N-games x 1)
id_only = detailed_postseason.drop(['teams'], axis=1)
rows = id_only.shape[0]
print(str(rows) + ' games')

# split detailed_postseason pandas object to list teams (N-games x 1)
teams_only = detailed_postseason.drop(['id'], axis=1)

# split detailed_postseason 'DataFrame' into a [1] teams[j][0]['teams_key'] list
# & teams[j][1]['teams_key'] list (N-teams x 1)
def teams_column(all_games, team_number, teams_key):
    teams_list = []
    for game in range(all_games):
        teams_list.append((teams_only['teams'][game][team_number][teams_key]))
    return teams_list

team0_list = teams_column(rows, 0, 'school')
team1_list = teams_column(rows, 1, 'school')
team0_location_list = teams_column(rows, 0, 'homeAway')
team1_location_list = teams_column(rows, 1, 'homeAway')
team0_points_list = teams_column(rows, 0, 'points')
team1_points_list = teams_column(rows, 1, 'points')
team0_school_id_list = teams_column(rows, 0, 'schoolId')
team1_school_id_list = teams_column(rows, 1, 'schoolId')

# Combine the 4 list-Series into a DataFrame (N-teams x 4)
teams_detail = pd.DataFrame({'team0': team0_list, 'team0.id': team0_school_id_list, 'team0.location': team0_location_list,
                             'team0.points': team0_points_list, 'team1' : team1_list,  'team1.id': team1_school_id_list,
                             'team1.location' : team1_location_list, 'team1.points': team1_points_list})

# Join games id with team_0 and team_1 information
id_teams_locations_df = id_only.join(teams_detail, on=None)
id_teams_locations_df

42 games

,id,team0,team0.id,team0.location,team0.points,team1,team1.id,team1.location,team1.points
0,401442010,TCU,2628,away,7,Georgia,61,home,65
1,401442011,Mississippi State,344,away,19,Illinois,356,home,10
2,401442012,LSU,99,away,63,Purdue,2509,home,7
3,401442013,Tulane,2655,away,46,USC,30,home,45
4,401442014,Utah,254,home,21,Penn State,213,away,35
5,401442018,Alabama,333,away,45,Kansas State,2306,home,20
6,401442016,TCU,2628,away,51,Michigan,130,home,45
7,401442015,Ohio State,194,away,41,Georgia,61,home,42
8,401443543,Ohio,195,away,30,Wyoming,2751,home,27
9,401442035,Maryland,120,away,16,NC State,152,home,12
10,401442036,Notre Dame,87,away,45,South Carolina,2579,home,38
11,401443542,Pittsburgh,221,away,37,UCLA,26,home,35
12,401442019,Tennessee,2633,away,31,Clemson,228,home,14
13,401442032,Syracuse,183,away,20,Minnesota,135,home,28
14,401442033,Oklahoma,201,away,32,Florida State,52,home,35
15,401442034,Texas,251,away,20,Washington,264,home,27
16,401442031,Texas Tech,2641,away,42,Ole Miss,145,home,25
17,401442030,Kansas,2305,away,53,Arkansas,8,home,55
18,401442008,UCF,2116,away,13,Duke,150,home,30
19,401470891,Oregon,2483,away,28,North Carolina,153,home,27
20,401442005,Wisconsin,275,away,24,Oklahoma State,197,home,17
21,401441998,Georgia Southern,290,away,21,Buffalo,2084,home,23
22,401442037,New Mexico State,166,away,24,Bowling Green,189,home,19
23,401442009,Middle Tennessee,2393,away,25,San Diego State,21,home,23
24,401442007,Wake Forest,154,away,27,Missouri,142,home,17
25,401442039,Western Kentucky,98,away,44,South Alabama,6,home,23
26,401442006,Liberty,2335,away,19,Toledo,2649,home,21
27,401442004,Eastern Michigan,2199,away,41,San José State,23,home,27
28,401442003,Marshall,276,away,28,Connecticut,41,home,14
29,401442001,North Texas,249,away,32,Boise State,68,home,35
30,401441997,SMU,2567,away,23,BYU,252,home,24
31,401442041,Rice,242,away,24,Southern Mississippi,2572,home,38
32,401442038,Washington State,265,away,6,Fresno State,278,home,29
33,401441999,Florida,57,away,3,Oregon State,204,home,30
34,401441993,Miami (OH),193,away,20,UAB,5,home,24
35,401442017,Iowa,2294,away,21,Kentucky,96,home,0
36,401442002,Coastal Carolina,324,away,29,East Carolina,151,home,53
37,401442000,Memphis,235,away,38,Utah State,328,home,10
38,401442042,Louisiana,309,away,16,Houston,248,home,23
39,401442040,Baylor,239,away,15,Air Force,2005,home,30
40,401441995,Cincinnati,2132,away,7,Louisville,97,home,24
41,401441994,UT San Antonio,2636,away,12,Troy,2653,home,18

In [5]:
# practicing reading JSON file with nested dictionaries
# read detailed category stats from game #1, team0 [game0 until last row][team0 or team1] (read values from a "stats" dictionary)
# detailed stats list for each team will vary

# loop through every game as a new row; join rows with game id (id_detailed_game_stats_df);
#   join "id_team_locations_df" with "id_detailed_game_stats_df"

accumulator = []
for game in range(rows):
    for team in range(2):
        team_detailed_stats = teams_only['teams'][game][team]['stats']
        
        # convert team_detailed_stats into a DataFrame
        team_detailed_stats_df = pd.DataFrame(team_detailed_stats)
        
        # convert team_detailed_stats_df into a numpy nested array
        team_detailed_stats_np = team_detailed_stats_df.to_numpy()
        
        # transpose nested array
        team_detailed_stats_np = np.transpose(team_detailed_stats_np)
        
        # create team name (either 'team0.' or 'team1.')
        team_int = 'team' + str(team) + '.'
        
        # convert back to DataFrame with header as stats columns
        team_detailed_stats_df2 = pd.DataFrame(team_detailed_stats_np)
        new_header = team_detailed_stats_df2.iloc[0]
        team_detailed_stats_df2 = team_detailed_stats_df2[1:]
        team_detailed_stats_df2.columns = new_header
        
        # insert team0. or team1. as a prefix in the header row
        team_detailed_stats_df2 = team_detailed_stats_df2.add_prefix(team_int)
        accumulator.append(team_detailed_stats_df2)

# accumulator includes all teams, odd rows are team0, even rows are team1
big_df = pd.concat(accumulator)
big_df

,team0.rushingTDs,team0.passingTDs,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.kickingPoints,team0.fumblesRecovered,team0.totalFumbles,team0.possessionTime,team0.interceptions,...,team0.tackles,team0.sacks,team0.qbHurries,team0.passesDeflected,team1.puntReturnYards,team1.puntReturnTDs,team1.puntReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
1,1,0,135,0,6,1,0,1,23:01,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,NaN,NaN,NaN,7,0,1,25:42,2,...,7,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10,0,2,NaN,NaN,NaN
1,4,4,22,0,1,10,0,NaN,30:15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,119,0,5,1,2,3,27:31,0,...,1,1,0,2,NaN,NaN,NaN,39,0,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10,0,3,NaN,NaN,NaN
1,0,1,4,0,1,4,0,5,26:44,2,...,44,6,1,3,NaN,NaN,NaN,0,0,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN

group big_df every two rows

In [6]:
group_big_df = big_df.groupby(np.arange(len(big_df))//2).sum()
group_big_df

,team0.rushingTDs,team0.passingTDs,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.kickingPoints,team0.fumblesRecovered,team0.totalFumbles,team0.possessionTime,team0.interceptions,...,team0.tackles,team0.sacks,team0.qbHurries,team0.passesDeflected,team1.puntReturnYards,team1.puntReturnTDs,team1.puntReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
0,1,0,135,0,6,1,0,1,23:01,2,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,7,0,1,25:42,2,...,7,7,0,0,10,0,2,0,0,0
2,4,4,22,0,1,10,0,0,30:15,1,...,0,0,0,0,35,0,2,122,1,3
3,4,2,146,0,6,8,0,1,20:11,0,...,0,0,0,1,1,0,1,0,0,1
4,1,2,15,0,1,3,0,0,35:13,2,...,3,3,0,0,4,0,2,0,0,0
5,1,5,31,0,2,9,0,0,24:26,0,...,2,2,0,2,1,0,1,2,0,2
6,3,2,75,0,4,9,1,1,27:35,2,...,4,4,0,2,16,0,2,70,2,2
7,1,4,15,0,1,11,0,1,32:36,0,...,0,2,0,1,22,0,1,15,0,1
8,1,2,95,0,4,10,0,2,30:43,0,...,4,4,0,1,0,0,0,15,0,1
9,0,1,32,0,3,10,0,1,35:32,2,...,0,0,0,2,8,0,2,2,0,2
10,3,3,18,0,1,9,1,0,36:19,3,...,2,2,0,1,12,0,2,0,0,1
11,2,1,17,0,1,17,1,2,37:06,1,...,1,3,0,4,0,0,0,13,0,4
12,1,3,41,0,2,7,0,0,23:37,0,...,4,4,0,2,0,0,0,0,0,2
13,2,0,71,0,4,8,0,1,34:11,1,...,2,2,0,0,0,0,0,0,0,0
14,3,1,0,0,0,6,0,2,29:57,0,...,1,2,0,1,0,0,0,0,0,1
15,1,1,40,0,2,8,0,0,24:14,0,...,0,0,0,1,0,0,1,0,0,1
16,3,1,86,1,3,12,2,0,32:46,1,...,0,0,0,0,0,0,0,11,0,2
17,2,5,7,0,1,7,1,0,30:53,2,...,0,0,0,0,3,0,1,0,0,1
18,2,0,41,0,3,1,0,3,25:33,1,...,0,0,0,0,0,0,0,0,0,0
19,2,2,106,0,4,4,0,0,27:11,1,...,2,2,0,5,16,0,1,0,0,0
20,2,1,127,0,4,6,0,1,37:48,1,...,1,1,0,2,0,0,0,21,0,2
21,0,2,18,0,1,7,1,1,21:51,1,...,0,2,0,0,0,0,1,0,0,0
22,1,2,38,0,3,6,1,1,38:10,1,...,1,1,0,1,0,0,0,0,0,1
23,0,2,0,0,0,13,1,1,26:44,1,...,2,2,0,3,3,0,1,14,0,3
24,1,3,0,0,0,3,1,0,26:49,1,...,0,0,0,0,0,0,1,0,0,0
25,0,5,43,0,2,14,0,0,28:44,1,...,13,4,0,1,0,0,0,47,0,2
26,1,2,69,0,4,1,1,0,19:56,0,...,0,0,0,0,28,0,3,0,0,0
27,3,2,38,0,3,7,0,2,32:07,1,...,2,2,0,3,0,0,0,32,0,3
28,1,2,55,0,3,4,1,0,27:20,1,...,0,0,0,0,3,0,3,35,2,3
29,2,2,138,0,6,6,0,0,27:33,2,...,0,0,0,0,0,0,0,0,0,0
30,1,2,0,0,0,5,0,1,28:34,1,...,1,1,0,1,0,0,0,6,0,1
31,0,3,29,0,2,6,3,0,32:38,1,...,0,0,0,0,12,0,3,0,0,0
32,1,0,67,0,4,0,0,0,26:53,1,...,0,0,0,0,0,0,0,0,0,0
33,0,0,91,0,4,3,0,2,30:25,0,...,2,2,0,0,13,0,2,0,0,0
34,1,2,0,0,0,2,2,0,26:33,0,...,2,2,0,1,-8,0,2,45,0,1
35,0,1,0,0,0,3,0,0,25:03,0,...,4,4,0,2,25,0,3,66,2,2
36,3,1,105,0,7,3,0,0,27:40,0,...,0,0,0,0,0,0,1,0,0,0
37,2,3,26,0,1,8,0,1,36:06,0,...,4,4,0,3,1,0,1,35,0,3
38,0,1,35,0,4,10,0,0,27:44,0,...,0,0,0,0,25,0,1,0,0,0
39,0,2,99,0,6,1,0,0,19:56,0,...,0,0,0,0,0,0,0,0,0,0
40,0,1,119,0,5,1,2,3,27:31,0,...,1,1,0,2,10,0,3,39,0,2
41,0,1,4,0,1,4,0,5,26:44,2,...,44,6,1,3,0,0,1,0,0,2

In [7]:
# view header stats
group_big_df.columns

Index(['team0.rushingTDs', 'team0.passingTDs', 'team0.kickReturnYards',
       'team0.kickReturnTDs', 'team0.kickReturns', 'team0.kickingPoints',
       'team0.fumblesRecovered', 'team0.totalFumbles', 'team0.possessionTime',
       'team0.interceptions', 'team0.fumblesLost', 'team0.turnovers',
       'team0.totalPenaltiesYards', 'team0.yardsPerRushAttempt',
       'team0.rushingAttempts', 'team0.rushingYards', 'team0.yardsPerPass',
       'team0.completionAttempts', 'team0.netPassingYards', 'team0.totalYards',
       'team0.fourthDownEff', 'team0.thirdDownEff', 'team0.firstDowns',
       'team1.rushingTDs', 'team1.passingTDs', 'team1.kickReturnYards',
       'team1.kickReturnTDs', 'team1.kickReturns', 'team1.kickingPoints',
       'team1.interceptionYards', 'team1.interceptionTDs',
       'team1.passesIntercepted', 'team1.fumblesRecovered',
       'team1.totalFumbles', 'team1.tacklesForLoss', 'team1.defensiveTDs',
       'team1.tackles', 'team1.sacks', 'team1.qbHurries',
       'team1.passesDeflected', 'team1.possessionTime', 'team1.interceptions',
       'team1.fumblesLost', 'team1.turnovers', 'team1.totalPenaltiesYards',
       'team1.yardsPerRushAttempt', 'team1.rushingAttempts',
       'team1.rushingYards', 'team1.yardsPerPass', 'team1.completionAttempts',
       'team1.netPassingYards', 'team1.totalYards', 'team1.fourthDownEff',
       'team1.thirdDownEff', 'team1.firstDowns', 'team0.puntReturnYards',
       'team0.puntReturnTDs', 'team0.puntReturns', 'team0.tacklesForLoss',
       'team0.defensiveTDs', 'team0.tackles', 'team0.sacks', 'team0.qbHurries',
       'team0.passesDeflected', 'team1.puntReturnYards', 'team1.puntReturnTDs',
       'team1.puntReturns', 'team0.interceptionYards', 'team0.interceptionTDs',
       'team0.passesIntercepted'],
      dtype='object', name=0)

In [8]:
# Concatenate postseason ID DataFrame and detailed stats DataFrame
cfb_postseason_games = pd.concat([id_teams_locations_df, group_big_df], axis=1)
cfb_postseason_games

,id,team0,team0.id,team0.location,team0.points,team1,team1.id,team1.location,team1.points,team0.rushingTDs,...,team0.tackles,team0.sacks,team0.qbHurries,team0.passesDeflected,team1.puntReturnYards,team1.puntReturnTDs,team1.puntReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
0,401442010,TCU,2628,away,7,Georgia,61,home,65,1,...,0,0,0,0,0,0,0,0,0,0
1,401442011,Mississippi State,344,away,19,Illinois,356,home,10,0,...,7,7,0,0,10,0,2,0,0,0
2,401442012,LSU,99,away,63,Purdue,2509,home,7,4,...,0,0,0,0,35,0,2,122,1,3
3,401442013,Tulane,2655,away,46,USC,30,home,45,4,...,0,0,0,1,1,0,1,0,0,1
4,401442014,Utah,254,home,21,Penn State,213,away,35,1,...,3,3,0,0,4,0,2,0,0,0
5,401442018,Alabama,333,away,45,Kansas State,2306,home,20,1,...,2,2,0,2,1,0,1,2,0,2
6,401442016,TCU,2628,away,51,Michigan,130,home,45,3,...,4,4,0,2,16,0,2,70,2,2
7,401442015,Ohio State,194,away,41,Georgia,61,home,42,1,...,0,2,0,1,22,0,1,15,0,1
8,401443543,Ohio,195,away,30,Wyoming,2751,home,27,1,...,4,4,0,1,0,0,0,15,0,1
9,401442035,Maryland,120,away,16,NC State,152,home,12,0,...,0,0,0,2,8,0,2,2,0,2
10,401442036,Notre Dame,87,away,45,South Carolina,2579,home,38,3,...,2,2,0,1,12,0,2,0,0,1
11,401443542,Pittsburgh,221,away,37,UCLA,26,home,35,2,...,1,3,0,4,0,0,0,13,0,4
12,401442019,Tennessee,2633,away,31,Clemson,228,home,14,1,...,4,4,0,2,0,0,0,0,0,2
13,401442032,Syracuse,183,away,20,Minnesota,135,home,28,2,...,2,2,0,0,0,0,0,0,0,0
14,401442033,Oklahoma,201,away,32,Florida State,52,home,35,3,...,1,2,0,1,0,0,0,0,0,1
15,401442034,Texas,251,away,20,Washington,264,home,27,1,...,0,0,0,1,0,0,1,0,0,1
16,401442031,Texas Tech,2641,away,42,Ole Miss,145,home,25,3,...,0,0,0,0,0,0,0,11,0,2
17,401442030,Kansas,2305,away,53,Arkansas,8,home,55,2,...,0,0,0,0,3,0,1,0,0,1
18,401442008,UCF,2116,away,13,Duke,150,home,30,2,...,0,0,0,0,0,0,0,0,0,0
19,401470891,Oregon,2483,away,28,North Carolina,153,home,27,2,...,2,2,0,5,16,0,1,0,0,0
20,401442005,Wisconsin,275,away,24,Oklahoma State,197,home,17,2,...,1,1,0,2,0,0,0,21,0,2
21,401441998,Georgia Southern,290,away,21,Buffalo,2084,home,23,0,...,0,2,0,0,0,0,1,0,0,0
22,401442037,New Mexico State,166,away,24,Bowling Green,189,home,19,1,...,1,1,0,1,0,0,0,0,0,1
23,401442009,Middle Tennessee,2393,away,25,San Diego State,21,home,23,0,...,2,2,0,3,3,0,1,14,0,3
24,401442007,Wake Forest,154,away,27,Missouri,142,home,17,1,...,0,0,0,0,0,0,1,0,0,0
25,401442039,Western Kentucky,98,away,44,South Alabama,6,home,23,0,...,13,4,0,1,0,0,0,47,0,2
26,401442006,Liberty,2335,away,19,Toledo,2649,home,21,1,...,0,0,0,0,28,0,3,0,0,0
27,401442004,Eastern Michigan,2199,away,41,San José State,23,home,27,3,...,2,2,0,3,0,0,0,32,0,3
28,401442003,Marshall,276,away,28,Connecticut,41,home,14,1,...,0,0,0,0,3,0,3,35,2,3
29,401442001,North Texas,249,away,32,Boise State,68,home,35,2,...,0,0,0,0,0,0,0,0,0,0
30,401441997,SMU,2567,away,23,BYU,252,home,24,1,...,1,1,0,1,0,0,0,6,0,1
31,401442041,Rice,242,away,24,Southern Mississippi,2572,home,38,0,...,0,0,0,0,12,0,3,0,0,0
32,401442038,Washington State,265,away,6,Fresno State,278,home,29,1,...,0,0,0,0,0,0,0,0,0,0
33,401441999,Florida,57,away,3,Oregon State,204,home,30,0,...,2,2,0,0,13,0,2,0,0,0
34,401441993,Miami (OH),193,away,20,UAB,5,home,24,1,...,2,2,0,1,-8,0,2,45,0,1
35,401442017,Iowa,2294,away,21,Kentucky,96,home,0,0,...,4,4,0,2,25,0,3,66,2,2
36,401442002,Coastal Carolina,324,away,29,East Carolina,151,home,53,3,...,0,0,0,0,0,0,1,0,0,0
37,401442000,Memphis,235,away,38,Utah State,328,home,10,2,...,4,4,0,3,1,0,1,35,0,3
38,401442042,Louisiana,309,away,16,Houston,248,home,23,0,...,0,0,0,0,25,0,1,0,0,0
39,401442040,Baylor,239,away,15,Air Force,2005,home,30,0,...,0,0,0,0,0,0,0,0,0,0
40,401441995,Cincinnati,2132,away,7,Louisville,97,home,24,0,...,1,1,0,2,10,0,3,39,0,2
41,401441994,UT San Antonio,2636,away,12,Troy,2653,home,18,0,...,44,6,1,3,0,0,1,0,0,2

In [9]:
# create a DataFrame by each team and display the teams's total offense
# id | team0 | team0.points | team0.totalYards | team0.totalDefenseYards |
# team1 | team1.points | team1.totalYards | team1.totalDefenseYards
cfb_postseason_total_Yards = cfb_postseason_games[['id', 'team0', 'team0.id', 'team0.totalYards', 'team1.totalYards',
                                                  'team1', 'team1.id', 'team1.totalYards', 'team0.totalYards']]
cfb_postseason_total_Yards.columns = ['id', 'team0', 'team0.id', 'team0.totalYards', 'team0.defenseYards',
                                                  'team1', 'team1.id', 'team1.totalYards', 'team1.defenseYards']
cfb_postseason_total_Yards

,id,team0,team0.id,team0.totalYards,team0.defenseYards,team1,team1.id,team1.totalYards,team1.defenseYards
0,401442010,TCU,2628,188,589,Georgia,61,589,188
1,401442011,Mississippi State,344,388,257,Illinois,356,257,388
2,401442012,LSU,99,594,256,Purdue,2509,256,594
3,401442013,Tulane,2655,539,592,USC,30,592,539
4,401442014,Utah,254,391,448,Penn State,213,448,391
5,401442018,Alabama,333,496,401,Kansas State,2306,401,496
6,401442016,TCU,2628,488,527,Michigan,130,527,488
7,401442015,Ohio State,194,467,533,Georgia,61,533,467
8,401443543,Ohio,195,385,291,Wyoming,2751,291,385
9,401442035,Maryland,120,342,296,NC State,152,296,342
10,401442036,Notre Dame,87,559,363,South Carolina,2579,363,559
11,401443542,Pittsburgh,221,445,451,UCLA,26,451,445
12,401442019,Tennessee,2633,375,484,Clemson,228,484,375
13,401442032,Syracuse,183,477,213,Minnesota,135,213,477
14,401442033,Oklahoma,201,503,587,Florida State,52,587,503
15,401442034,Texas,251,420,440,Washington,264,440,420
16,401442031,Texas Tech,2641,486,558,Ole Miss,145,558,486
17,401442030,Kansas,2305,603,681,Arkansas,8,681,603
18,401442008,UCF,2116,326,350,Duke,150,350,326
19,401470891,Oregon,2483,414,322,North Carolina,153,322,414
20,401442005,Wisconsin,275,374,281,Oklahoma State,197,281,374
21,401441998,Georgia Southern,290,444,389,Buffalo,2084,389,444
22,401442037,New Mexico State,166,407,294,Bowling Green,189,294,407
23,401442009,Middle Tennessee,2393,179,352,San Diego State,21,352,179
24,401442007,Wake Forest,154,383,355,Missouri,142,355,383
25,401442039,Western Kentucky,98,677,421,South Alabama,6,421,677
26,401442006,Liberty,2335,253,360,Toledo,2649,360,253
27,401442004,Eastern Michigan,2199,417,498,San José State,23,498,417
28,401442003,Marshall,276,294,316,Connecticut,41,316,294
29,401442001,North Texas,249,435,457,Boise State,68,457,435
30,401441997,SMU,2567,389,256,BYU,252,256,389
31,401442041,Rice,242,425,550,Southern Mississippi,2572,550,425
32,401442038,Washington State,265,175,501,Fresno State,278,501,175
33,401441999,Florida,57,219,353,Oregon State,204,353,219
34,401441993,Miami (OH),193,272,390,UAB,5,390,272
35,401442017,Iowa,2294,206,185,Kentucky,96,185,206
36,401442002,Coastal Carolina,324,337,486,East Carolina,151,486,337
37,401442000,Memphis,235,430,261,Utah State,328,261,430
38,401442042,Louisiana,309,327,363,Houston,248,363,327
39,401442040,Baylor,239,230,379,Air Force,2005,379,230
40,401441995,Cincinnati,2132,127,419,Louisville,97,419,127
41,401441994,UT San Antonio,2636,345,153,Troy,2653,153,345

In [10]:
# Create a DataFrame sorted by team0.id (42 rows x 4 columns)
# Columns: team | team_id | offense_yards | defense_yards
team0_total_yards = cfb_postseason_games[['team0.id', 'team0', 'team0.totalYards', 'team1.totalYards']]
team0_total_yards.columns = ['id', 'team', 'actual_Off', 'actual_Def']

# Create a DataFrame sorted by team1.id (42 rows x 4 columns)
team1_total_yards = cfb_postseason_games[['team1.id', 'team1', 'team1.totalYards', 'team0.totalYards']]
team1_total_yards.columns = ['id', 'team', 'actual_Off', 'actual_Def']

# Append rows of team0 & team1 DataFrames
actual_off_def = pd.concat([team0_total_yards, team1_total_yards])
actual_off_def

      id               team actual_Off actual_Def
0   2628                TCU        188        589
1    344  Mississippi State        388        257
2     99                LSU        594        256
3   2655             Tulane        539        592
4    254               Utah        391        448
..   ...                ...        ...        ...
37   328         Utah State        261        430
38   248            Houston        363        327
39  2005          Air Force        379        230
40    97         Louisville        419        127
41  2653               Troy        153        345

[84 rows x 4 columns]

In [12]:
# find certain team(s)
actual_off_def.query('id == 201 or id == 2483 or id == 248 or id == 213 or id == 52')

      id           team actual_Off actual_Def
14   201       Oklahoma        503        587
19  2483         Oregon        414        322
4    213     Penn State        448        391
14    52  Florida State        587        503
38   248        Houston        363        327